html {
        background-color: #111;
}

.wrapper {
        width: 900px;
        margin: 0 auto;
        font-family: "lato", sans-serif;
        font-weight: 300;
        font-size: 50px;
        letter-spacing: 10px;
        color: #FFF;
}

a {
        text-align: center;
        font-size: 20px;
        display: block;
        padding: 10px;
        width: 160px;
        text-decoration: none;
        color: #fff;
        margin: 0 auto;
        border: 1px solid #fff;
}

.story {
        margin-bottom: 285px;
}

a:hover {
        color: #090a0f;
        background-color: #fff;
        transition: 0.2s;
}

h1 {
        font-size: 32px;
}

h2 {
        font-size: 25px;
        text-align: center;
}

.developer {
        text-align: center;
}

time {
        font-size: 22px;
}

p {
        font-size: 20px;
}

.hint {
        text-align: center;
}

ul {
        margin: 0;
        list-style: none;
        padding: 0;
}

img {
        display: block;
        opacity: 0;
        float: right;
}

img:hover {
        opacity: 100%;
}

.opacity {
        opacity: 20%;
}